NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000
MONGO_URI=mongodb://localhost:27017/sur_o_jhankaar
REDIS_URL=redis://localhost:6379
JWT_SECRET=sur_o_jhankaar_jwt_super_secret_key_2026
JWT_REFRESH_SECRET=sur_o_jhankaar_jwt_refresh_secret_key_2026
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
ADMIN_DEFAULT_EMAIL=admin@surojhankaar.in
ADMIN_DEFAULT_PASSWORD=AdminSur@2026
PYTHON_ENGINE_URL=http://localhost:8000
PYTHON_ENGINE_API_KEY=sur_o_jhankaar_internal_api_key_secure_2026
